hr {
  background-color: darkgrey;
  height: 1px;
}

.row1 {
  margin-left: 0.2%;
  width: 100%;
}

.panel-body {
  background-color: #f9f9f9;
  padding: 0;
  padding: 0 8px;
}

.panel-body .col-md-2 {
  margin-top: 2%;
}

.float-img {
  float: right;
}

.featured-content {
  text-align: center;
}

.featured-footer-content {
  text-align: right;
}

.panel-danger {
  border-color: #DDCFF1;
}

.bg-green {
  background-color: #CFF2E1;
  padding: 1%;
  border: 1px lightgrey solid;
}

.bg-blue{
  background-color: #CFDFF1;
  padding: 1%;
  border: 1px lightgrey solid;
}
.bg-purple{
  background-color: #DDCFF1;
  padding: 1%;
  border: 1px lightgrey solid;
}

#col-1 {
  background-color: #F5FFFA;
}

#col-2 {
  background-color: #F5FAFF;
}
#col-3 {
  background-color: #FAF5FF;
}
